/* app.css */
.main-nav {
  display: flex;
  justify-content: center; /* Centra los botones de navegación */
  align-items: center;
  gap: 10px;
  position: relative; /* Para poder mover el logout con libertad si hiciera falta */
  padding: 10px 20px 20px 20px;
}

.main-nav button { 
  margin: 0 10px; 
  padding: 10px 25px; 
  cursor: pointer; 
  border: 1px solid #ddd; 
  background: white; 
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.3s ease; /* Para que el cambio de color sea suave */
}

/* Esta clase se activará sola gracias a routerLinkActive */
.active-link { 
  background: #4a90e2 !important; 
  color: white !important; 
  border-color: #4a90e2 !important;
  box-shadow: 0 4px 10px rgba(74, 144, 226, 0.3);
}


.main-header {
  background: white;
  padding: 10px 0;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  margin-bottom: 5px;
}

.logo-icon {
  background: #4a90e2;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 800;
  box-shadow: 0 4px 6px rgba(74, 144, 226, 0.3);
}

.brand-name {
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: #2c3e50;
  font-weight: 900;
}

/* Ajuste para que el contenido no quede pegado al header */
.content-wrapper {
  padding: 10px;
}

.logout-btn {
  background-color: #f8f9fa; /* Fondo claro por defecto */
  color: #ff4757; /* Texto en rojo */
  border: 1px solid #ff4757; /* Borde rojo fino */
  padding: 10px 20px;
  border-radius: 20px; /* Igual que tus otros botones */
  cursor: pointer;
  font-weight: 600;
  margin-left: 30px; /* Espacio extra para separarlo de la navegación */
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #ff4757;
  color: white;
  transform: translateY(-2px); /* Pequeño salto como los otros */
  box-shadow: 0 4px 10px rgba(255, 71, 87, 0.3);
}